<% content_for :jumbotron do %>
  <h1>Années scolaires</h1>
<% end %>
<p>Cliquez sur une année scolaire pour accéder aux contenus pédagogiques</p>
<ul>
  <% @years.each do |year| %>
    <li><h2><%= link_to year, discuss_year_path(year.year) %></h2></li>
  <% end %>
</ul>