<% content_for :jumbotron do %>
  <h1>Années scolaires</h1>
<% end %>

Cliquez sur une année scolaire ci-dessous pour accéder aux contenus pédagogiques
<ul class="list-unstyled">
  <% @years.each do |year| %>
    <li><%= link_to year, discuss_year_path(year.year) %></li>
  <% end %>
</ul>
