<% content_for :jumbotron do %>
  <h1>Années scolaires</h1>
<% end %>

Cliquez sur une année scolaire ci-dessous pour accéder aux contenus pédagogiques
<ul>
  <% @years.each do |year| %>
    <li><h2><%= link_to year, discuss_year_path(year.year) %></h2></li>
  <% end %>
</ul>