<p id="notice"><%= notice %></p>

<h1><%= @semesters.count %> semestres</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Number</th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= link_to semester, semester %></td>
      </tr>
    <% end %>
  </tbody>
</table>
