<table class="table table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Heures étudiants PPN</th>
      <th>Heures étudiants planifiées</th>
      <th>Delta</th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= link_to semester, semester %></td>
        <td><%= semester.expected_student_hours.round %></td>
        <td><%= semester.planned_student_hours.round %></td>
        <td><%= semester.delta_student_hours.round %></td>
      </tr>
    <% end %>
  </tbody>
</table>
