<p id="notice"><%= notice %></p>

<h1><%= @teaching_units.count %> unités d'enseignement</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Number</th>
    </tr>
  </thead>

  <tbody>
    <% @teaching_units.each do |teaching_unit| %>
      <tr>
        <td><%= link_to teaching_unit, teaching_unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>
