<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @teaching_unit.number %>
</p>

<%= link_to 'Edit', edit_teaching_unit_path(@teaching_unit) %> |
<%= link_to 'Back', teaching_units_path %>
