<p id="notice"><%= notice %></p>

<h1>Métiers</h1>
<%= link_to 'Nouveau métier', new_job_path if can? :create, Job %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Champs</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job, job %></td>
        <td><%= render partial: 'fields/inline_list', locals: {fields: job.fields} %></td>
      </tr>
    <% end %>
  </tbody>
</table>