<p id="notice"><%= notice %></p>

<h1>Objectif <%= @objective.id %></h1>
<p><%= @objective.label %></p>
<p>Cet objectif fait partie du module <%= link_to @objective.teaching_module.full_name, @objective.teaching_module %></p>