<ul class="list-inline">
  <% teaching_modules.each do |teaching_module| %>
    <li><%= link_to teaching_module, teaching_module, class: 'btn btn-primary btn-sm', title:teaching_module.label %></li>
  <% end %>
</ul>