<h1><%= @teaching_module.full_name %></h1>
<%= link_to 'Show', @teaching_module %>

<div class="row">
  <div class="col-md-8">
    <%= render 'show' %>
  </div>
  <div class="col-md-4">
    <%= render 'form' %>
  </div>
</div>

