<h1><%= @teaching_modules.count %> modules</h1>
<p><%= @student_hours %> heures étudiants, <%= @teacher_hours %> heures enseignant</p>

<%= render partial: 'table', locals: {teaching_modules: @teaching_modules} %>
