<p id="notice"><%= notice %></p>

<h1><%= @competencies.count %> compétences</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Teaching module</th>
    </tr>
  </thead>

  <tbody>
    <% @competencies.each do |competency| %>
      <tr>
        <td><%= link_to competency.label, competency %></td>
        <td><%= link_to competency.teaching_module.full_name, competency.teaching_module %></td>
      </tr>
    <% end %>
  </tbody>
</table>
