<p><%= @competency.label %></p>

<p><%= link_to @competency.teaching_module.full_name, @competency.teaching_module %></p>

<%= link_to 'Modifier', edit_competency_path(@competency) if can? :edit, @competency %>