<p id="notice"><%= notice %></p>

<h1><%= @keywords.count %> mots-clés</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th>Teaching module</th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= link_to keyword, keyword %></td>
        <td><%= link_to keyword.teaching_module.full_name, keyword.teaching_module %></td>
      </tr>
    <% end %>
  </tbody>
</table>
