body
  padding-top: 110px

ul 
  list-style-type: none
  list-style-position: inside
  padding-left: 0

.abstract 
  background: #eee
  padding: 20px

#vis
  width: 660px
  height: 660px
  margin: 0 auto
  