<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @teaching_category.label %>
</p>

<%= link_to 'Edit', edit_teaching_category_path(@teaching_category) %> |
<%= link_to 'Back', teaching_categories_path %>
