<table class="table">
  <thead>
    <tr>
      <th>Promotion</th>
    </tr>
  </thead>
  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= link_to promotion, promotion %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nouvelle promotion', new_promotion_path, class: 'btn btn-primary btn-sm' if can? :create, Promotion %>
