<% if percent %>
  <%
  if percent < 0
    color_class = 'bg-danger text-white'
  elsif percent > 200
    color_class = 'bg-warning'
  else
    color_class = ''
  end
  %>
  <td class="<%= color_class %>">
    <%= percent.round %> %
  </td>
<% else %>
  <td></td>
<% end %>
