<% if percent %>
  <% 
  if percent < -30
    color_class = 'btn-danger'
  elsif percent < -20
    color_class = 'btn-warning'
  elsif percent < 20
    color_class = ''
  else 
    color_class = 'btn-info'
  end
  %>
  <td class="<%= color_class %>">
    <%= percent.round %> %
  </td>
<% else %>
  <td>NA</td>
<% end %>