<% if percent %>
  <%
  if percent < -30
    color_class = 'bg-danger text-white'
  elsif percent < -20
    color_class = 'bg-warning'
  elsif percent < 20
    color_class = ''
  else
    color_class = 'bg-info'
  end
  %>
  <td class="<%= color_class %>">
    <%= percent.round %> %
  </td>
<% else %>
  <td></td>
<% end %>
