<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <% unless notice.blank? %>
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Information</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <%= notice.html_safe %>
      </div>
    </div>
  <% end %>
  <% unless alert.blank? %>
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">Attention !</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <%= alert.html_safe %>
      </div>
    </div>
  <% end %>
</div>
