<p id="notice"><%= notice %></p>

<div id="vis"></div>

<h1><%= @fields.count %> champs</h1>

<%= link_to 'Nouveau champ', new_field_path if can? :create, Field %>
<%= render partial: 'table', locals: {fields: @fields} %>