<div class="row">
  <% @years.each do |year| %>
    <div class="col-md-2">
      <div class="card mb-4">
        <div class="card-body">
          <h2><%= year %></h2>
          <p><%= year.projects.count %> projets</p>
          <div class="text-end">
            <%= link_to 'Voir', year, class: 'btn btn-primary btn-sm stretched-link' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
